
/**
 * Eloqua logo.
 */

.logo[data-logo="Eloqua"] {
  width: 3.0502624266748994em;
}

.logo[data-logo="Eloqua"] > * {
  background-image: url(images/logo.svg);
  margin: -.05em 0 -.15em 0;
}

.logo[data-logo="Eloqua"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="Eloqua"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}